* {
  box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
    padding-bottom: 4rem;
}

.light{
    color: var(--red-200);
    background-color: var(--cinza-100);
}

.dark{
    color: var(--cinza-100);
    background-color: var(--red-200);
}

header{
    width: 93%;
    padding: 2rem 5rem;
    max-width: 75rem; /* Limite visual */
    margin: 0 auto; /* Centraliza */
}

.title{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    max-width: 75rem;
    margin: 1rem 9rem;
}

.titleHistorico{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 2rem;
}

.linhaVertical{
  width: 0.2rem;
  height: 100%;
  background-color: var(--red-200);
}

main {
  width: 100%;
  max-width: 75rem; /* Limite visual */
  display: flex;
  justify-content: space-between;
  margin: 0 auto; /* Centraliza */
  padding: 0 1rem; /* Protege nas bordas */
  flex-wrap: wrap; /* Prevê quebras em telas pequenas */
}

.dadosPessoais{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.colunas h2 {
    padding: 2rem;
    font-size: 2rem;
}

.diretrizes{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.diretrizesInfo , .vizuResultados{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    align-items: center;
    background-color: #daa894;
}

.diretrizesInfo p, .vizuResultados p{
    font-size: 1.4rem;
}

.diretrizes a{
    color: var(--red-200);
    margin-right: 0.3rem;
}

.infos{
    font-size: 2rem;
    padding: 1rem 2rem;
}

.infos p{
    font-size: 1.5rem;
}

.infos input{
    border-radius: 1rem;
}

.colunas{
    display: flex;
    width: 100%;
    background-color: #f9eee2;
}

.dados{
    flex: 0 0 60%;
}

.dark .colunas{
    color: var(--red-200);
}

.linhaVerticalColuna{
  width: 0.1rem;
  height: 20rem;
  background-color: var(--red-200);
  align-self: center;
  flex: 0;
}

.dark .linhaVertical{
    background-color: var(--cinza-100);
    color: var(--red-200);
}

.fotoArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 40%;
    margin-top: 8rem;
    
}

.imgUserPost{
    width: 10rem;
    height: 10rem ; 
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid var(--red-200);
    clip-path: none;
    transition: transform 0.2s ease;
    margin: 1rem;
}

.imgUserPost:hover{
      transform: scale(1.05);
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 10rem;
}

.buttons button{
    
    background-color: var(--red-300);
    border: none;
    color: var(--cinza-100);
    cursor: pointer;
    padding: 1rem 3rem;
    margin: 1rem;
    border-radius: 1rem;
    font-weight: bold;
}

.alterarFoto{
    background-color: var(--red-300);
    border: none;
    color: var(--cinza-100);
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border-radius: 1rem;
    font-weight: bold;
}

.dadosUsuario{
    color: black;
    display: flex;
    gap: 3rem;
    flex: 1;
    
}

.dadosUsuario button{
    background: none;
    border: none;
    color: var(--red-200);
    cursor: pointer;
    transition: color 0.1s;
}

.dadosUsuario button:hover{
    color: green;
    scale: 1.2;
}

.alterarDados{
    display: flex;
    gap: 3rem;
    flex: 1;
}

.alterarDados input{
    color: var(--red-200);
}

.alterarDados button {
    background: none;
    border: none;
    color: var(--red-200);
    cursor: pointer;
    transition: color 0.1s;
}

.alterarDados button:hover{
    color: red;
    scale: 1.2;
}

.inputFile{
    display: none;
}

.linha {
  width: 93%;
  height: 1px;
  justify-self: center;
  background-color: var(--red-200);
}

.postsHistorico{
    margin-top: 2rem;
}

.postsHistorico img{
    clip-path: none;
}

@media (max-width: 900px) {
  main {
    flex-direction: column;
  }

  .dadosPessoais,
  .diretrizes {
    width: 100%;
  }
}