.container {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    transition: background-color 0.3s, color 0.3s;
  }

  .light {
    background-color: var(--cinza-100);
    color: var(--red-200);
  }
  
  .dark {
    background-color: var(--red-300);
    color: var(--cinza-100);
  }
  
  .light .buttonEntrar,
  .light .buttonConheca {
    background-color: var(--red-200);
    color: var(--cinza-100);
  }
  
  .dark .buttonEntrar,
  .dark .buttonConheca {
    background-color: var(--cinza-100);
    color: var(--red-200);
  }
  
  .light .buttonCadastrar {
    color: var(--red-200);
  }
  
  .dark .buttonCadastrar {
    color: var(--cinza-100);
  }
  
  .light .bottomActions {
    background-color: var(--cinza-100);
    color: var(--red-200);
  }
  
  .dark .bottomActions {
    background-color: var(--red-300);
    color: var(--cinza-100);
  }
  
  .light .linhaInfo {
    background-color: var(--red-200);
  }
  
  .dark .linhaInfo {
    background-color: var(--cinza-100);
  }
  
  .dark .effectPhrase img {
    filter: brightness(0) invert(1);
  }

