.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content img{
    margin-left: 5rem;
    width: 35%;
}

.formulario h1, h3, h4, p, form, label{
    background-color: var(--red-100);
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--red-200);
    color: white;
    height: 100vh;
    width: 50%;
    justify-items: center;
 }

.space {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--red-200);
    padding-top: 1rem;
}

.space a{
    cursor: pointer;
}
.spaceBox{
    display: flex;
    flex: 1;
    gap: 1rem;
}

.spaceBox input {
    width: 15%;
}

form{
    display: flex;
    flex-direction: column;
}

form h3{
    padding-top: 2rem;
}

.inputWrite {
    margin-top: 0.2rem;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    outline: none;
    caret-color: #92423c;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
form input:focus {
    border: 1px solid #92423c;
    box-shadow: 0 0 0 2px rgba(146, 66, 60, 0.2);
  }


.formulario button{
    font-size: 1rem;
    color: var(--cinza-100);
    background-color: var(--red-300);
    border-radius: 0.5rem;
    border: 1px solid var(--cinza-100);
    padding: 0.7rem 0rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 3rem;
    width: 20rem;

}

.error {
    color: #ff3333;
    background-color: #ffebee;
    border-radius: 0.5rem;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.linkCadastreSe {
  text-decoration: underline;
  color: var(--cinza-100);
  margin-bottom: 1rem;
}

.forgetPassword {
    text-decoration: underline;
  color: var(--cinza-100);
  margin-top: 0.6rem;
}
