.container {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--cinza-100);
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--red-200);
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card {
    background-color: var(--cinza-100);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #daa894;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card p {
    margin: 0.5rem 0;
    color: #444;
}

.noResults {
    padding: 1rem;
    text-align: center;
    font-style: italic;
    color: #777;
}