.bottomContent {
    font-family: sans-serif;
    display: flex;
    align-items: flex-end;
    max-width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: inherit;
    z-index: 10;
  }
  
  .bottomActions {
    align-items: center;
    display: flex;
    max-width: 100%;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .bottomActions img {
    display: flex;
    background: transparent;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
  }
  
  
  .askHelp,
  .knowUs {
    display: flex;
    align-items: center;
    margin-left: 13rem;
  }

  .notAlone{
    display: flex;
    align-items: center;
  }
  
  .buttonConheca {
    position: relative;
    overflow: hidden;
    background-color:var(--red-200); /* ou cor da sua marca */
    color: var(--cinza-100);
    border: none;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .buttonConheca::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--cinza-100); /* cor ao passar o mouse */
    transition: left 0.3s ease;
    z-index: 0;
  }

  .dark .buttonConheca::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--red-200); /* cor ao passar o mouse */
    transition: left 0.3s ease;
    z-index: 0;
  }
  
  .buttonConheca:hover::before {
    left: 0;
  }
  
  .buttonConheca:hover {
    color: var(--red-200);
  }
  
  .buttonConheca:hover {
    color: var(--red-200);
  }

  .dark .buttonConheca:hover {
    color: var(--cinza-100);
  }

  .buttonConheca span {
    position: relative;
    z-index: 1;
  }

  .dark .bottomActions {
    background-color: var(--red-300);
    color: var(--cinza-100);
  }

  .light .bottomActions{
    background-color: white;
    color: var(--red-200);
  }

  .dark .buttonConheca{
    background-color: var(--cinza-100);
    color: var(--red-200);
  }

.light, .dark {
    transition: background-color 0.4s ease, color 0.4s ease;
  }  