.light{
    background-color: var(--cinza-100);
    color: var(--red-200);
}

.dark{
    background-color: var(--red-300);
    color: var(--cinza-100);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem 4rem;
    margin-top: 3rem;
    background-color: var(--red-300);
}

.introduction h1{
    color: var(--cinza-100);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.introduction p{
    color: var(--cinza-100);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.buttonPublique{
    background-color: var(--red-200);
    color: var(--cinza-100);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.buttonPublique:hover{
    background-color: var(--cinza-100);
    color: var(--red-200);
    border: 1px solid var(--red-200);
    transform: scale(1.05);
}

.postsArea{
    flex: 1;
    padding: 3rem 2rem;
    max-width: 1100px;
    margin: 0 auto ;
    width: 100%;
    display: flex;
}

.posts{
    width: 80%;
}

.linhaVertical{
  width: 0.2rem;
  height: 100%;
  background-color: var(--red-200);
}

.light .linhaVertical {
  background-color: var(--red-200);
}

.title{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-bottom: 1rem;
}

.title h2{
    font-weight: bold;
    font-size: 2rem;
}

.topicosPopulares, .diretrizes{
    background-color: var(--red-200);
    color: var(--cinza-100);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
}

.topicosPopulares a, .diretrizes a{
    padding: 0.2rem;
    text-decoration: none;
    color: var(--cinza-100);
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
}

.topicosPopulares a::after, .diretrizes a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--cinza-100);
  transition: width 0.3s ease;
}

.topicosPopulares a:hover::after, .diretrizes a:hover::after {
  width: 100%;
}

.rightMenu{
    width: 20%;
    padding: 1rem 3rem;
    margin-top: 2.5rem;
}

.diretrizes{
    margin-top: 2rem;
    
}
