.header{
    display: flex;
    justify-content: space-between;
    width: 96%;
    height: 96px;
    justify-self: center;
    transition: background-color 0.3s, color 0.2s;
} 

.linha {
    
    width: 93%;
    height: 1px;
    justify-self: center;
    
}

.header img{
    height: 8rem;
    clip-path: inset(28% 0);
    align-self: center;

}

.navbar{
    display: flex;
    align-items: center;
    gap: 4.5rem;
    padding: 0 5rem ;

}

.navbar a{
    text-decoration: none;
    color: var(--red-200);
    transition: 0.3s;
}
.header button{
    border: 0;
    background: transparent;
    cursor: pointer;
}

.navbar img{
    height: 1.5rem;
    clip-path: inset(0);
}

.linhaVertical{
    width: 1px;
    height: 50%;
    background-color: var(--red-200);

  }
  
.cadastro {
    
    border-radius: 8px;
    padding: 0.7rem;
    color: var(--red-200); 


}

.light .navbar a, .light .cadastro {
    color: var(--red-300); /* Cor do texto no tema claro */
  }
  
.dark .navbar a, .dark .cadastro {
    color: var(--cinza-100); /* Cor do texto no tema escuro */
  }
  
.light .header {
    background-color: var(--cinza-100); /* Fundo claro no header */
  }
  
.dark .header {
    background-color: var(--red-300); /* Fundo escuro no header */
  }

.light .linha, .light .linhaVertical  {
    background-color: var(--red-200);
}

.dark .linha, .dark .linhaVertical {
    background-color: var(--cinza-100);
}

.dark .header img {
    filter: brightness(0) invert(1);
}