.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content img{
    margin-left: 5rem;
    width: 35%;
}

.formulario h1, h3, h4, p, form, label{
    background-color: var(--red-100);
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--red-200);
    color: white;
    height: 100vh;
    width: 50%;
}

.space{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--red-200);
    padding-top: 1rem;
}

form{
    display: flex;
    flex-direction: column;
}

form h3{
    padding-top: 2rem;
}
form input{
    margin-top: 0.2rem;
    padding: 0.7rem 0;
    border-radius: 0.5rem;
    justify-items: center;
    align-items: center;
    border: none;
    outline: none;
}

.formulario button{
    font-size: 1rem;
    color: var(--cinza-100);
    background-color: var(--red-300);
    border-radius: 0.5rem;
    border: 1px solid var(--cinza-100);
    padding: 0.7rem 0rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 3rem;
    width: 18.5rem;

}

.error {
    color: #ff3333;
    background-color: #ffebee;
    border-radius: 0.5rem;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}