.mainConteudoPrincipal {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  padding: 0rem 4rem;
  gap: 2rem;
  box-sizing: border-box;
  flex-wrap: nowrap; 
}

.light{
    color: var(--red-200);
    background-color: var(--cinza-100);
}

.dark{
    color: var(--cinza-100);
    background-color: var(--red-200);
}

.text {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 0;
  justify-content: flex-start;
  margin-top: 3rem;
}

.light .text p,
.dark .text p{
  font-size: 1.5rem;
}

.image{
  flex-shrink: 0;
  width: 50%;
}

.mainConteudoPrincipal h1 {
  font-size: 6rem;
}

.mainConteudoPrincipal p {
  font-size: 1rem;
  font-weight: 500;
}

.image img{
  width: 100%;
  height: auto;
  clip-path: inset(0 0 16%);
  object-fit: contain;
  display: block;
}

.buttons {
  margin-top: 2rem;
  justify-content: space-between;
}

.buttonCadastrar {
  margin-left: 3rem;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.buttonCadastrar:hover {
  color: var(--red-300);
  transform: scale(1.05); /* Aumenta o tamanho do botão ao passar o mouse */
}

/* Botão Entrar */
.buttonEntrar {
  font-weight: bold;
  font-size: 1rem;
  color: var(--cinza-100);
  background-color: var(--red-200);
  border-radius: 1rem;
  border: 0;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.buttonEntrar:hover {
  background-color: var(--red-300);
  color: white;
  transform: scale(1.05); /* Aumenta o tamanho do botão ao passar o mouse */
}

.dark img {
  filter: brightness(0) invert(1);
}

.dark .buttonEntrar {
  color: var(--red-200);
  background-color: var(--cinza-100);
}

.light .buttonCadastrar {
  color: var(--red-200);
}

.dark .buttonCadastrar {
  color: var(--cinza-100);
}

.linhaInfo {
  width: 93%;
  height: 1px;
  margin: 3rem auto;
}

.light.linhaInfo {
  background-color: var(--red-200);
}

.dark.linhaInfo {
  background-color: var(--cinza-100);
}

@media (max-width: 768px) {
  .mainConteudoPrincipal {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }

  .image {
    padding: 0;
    max-width: 90%;
  }

  .text {
    padding: 0;
  }

  .buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .buttonEntrar, .buttonCadastrar {
    width: 100%;
    max-width: 300px;
  }
}
