* {
  box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
    padding-bottom: 4rem;
}

.light{
    color: var(--red-200);
    background-color: var(--cinza-100);
}

.dark{
    color: var(--cinza-100);
    background-color: var(--red-200);
}

.mainAcompEmocional{
  width: 100%;
  max-width: 75rem; /* Limite visual */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto; /* Centraliza */
  padding: 0 1rem; /* Protege nas bordas */
  flex-wrap: wrap; /* Prevê quebras em telas pequenas */
}

.title{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 2rem;
  padding: 1rem 0;
}

.linhaVertical{
  width: 0.2rem;
  height: 100%;
  background-color: var(--red-200);
  color: var(--cinza-100);
}

.introducao{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
    padding: 4rem 0;
}

.introducaoText{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.4rem;
}

.introducaoText p{
    font-size: 2rem;
}

.introducao img{
    width: 15rem;
    height: 15rem;
    clip-path: none;
}

.dark .introducao img{
    filter: brightness(0.8) contrast(1.1);
}

.questionarios, .niveis{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
}


section p {
    font-size: 1.3rem;
    padding: 1rem;
}

section h2{
    font-size: 2rem;
    font-weight: bold;
}

.questionariosBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--red-200);
    border-radius: 2rem;
    padding: 2rem 3rem;
    justify-content: space-between;
    width: 33%;
}

.dark .questionariosBox{
    color: var(--red-200);
    border: 2px solid var(--cinza-100);
    background-color: #daa894;
}

.questionariosBox button{
    background-color: var(--red-200);
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    color: var(--cinza-100);
}

.questionariosBox button:hover{
    background-color: var(--cinza-100);
    color: var(--red-200);
    border: 1px solid var(--red-200);
}

.expandido{
    flex: 1 1 100%;
}